html {
    /*background-color: deeppink !important;*/
}

#editLeagueModalLabel {
    color: #343a40;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    height: auto;
    border-bottom: 1px solid;
    margin-bottom: 7px;
}

#editLeagueModalLabel h4 {
    color: #343a40;
}

.form-league-title {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    font-size: larger;
    border-bottom: solid 1px lightgrey;
}

.form-container {
    margin-left: 16%;
}

.form-league-item {
    margin-top: 15px;
}