<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/sweetalert2.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/loading-btn/loading.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/loading-btn/loading-btn.css') }}"/>

        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/sweetalert2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/router.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
