{% extends '@App/base.html.twig' %}

{% block title %}M2N - Connexion{% endblock %}

{% block body %}
    {% if error %}
            <script type="text/javascript">
                Swal.fire({
                    position: 'top-end',
                    type: 'error',
                    title: 'Identifiant et/ou mot de passe incorrects(s)',
                    showConfirmButton: false,
                    timer: 2000
                })
            </script>
    {% endif %}
    <div class="col-md-3 mx-auto" style="margin-top: 10%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">M2N</h4>
                <hr>
                <p class="text-success text-center">Connexion à votre espace</p>
                <form class="form-horizontal" role="form" method="POST" action="{{ path('m2n_login_check') }}">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input id="username" type="text" class="form-control" placeholder="Nom d'utilisateur" name="_username" value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input id="password" type="password" class="form-control" placeholder="Mot de passe" name="_password">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
{% endblock %}