{% extends '@App/base.html.twig' %}
{% block title %}{{ app.user.username }} - Accueil {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/room.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
{% endblock %}

{% block body %}
    {% include '@App/admin/nav.html.twig' %}
    <div class="container-fluid" style="margin: 0">
        <div class="row">
            <div class="col-md-4">
                <table id="dtDynamicVerticalScrollRoom" class="table table-hover">
                    <caption>Liste des salles <button class="btn btn-sm btn-dark float-right" onclick="openRoomModal(null, false)">Ajouter une salle</button></caption>
                    <thead>
                    <tr>
                        <th scope="col">Salle</th>
                        <th scope="col">Nombre de places</th>
                        <th scope="col">Informatisée</th>
                        <th class="d-none"></th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="room_list">
                    {% for room in rooms %}
                        <tr id="room_{{ room.id }}" {% if not room.isActive %}class="deactivate-room"{% endif %}
                            onclick="openRoomModal($(this), true)">
                            <td class="room-name">{{ room.name }}</td>
                            <td class="room-seat">{{ room.seat }}</td>
                            <td class="room-isComputerised">{{ room.isComputerised ? 'Oui':'Non' }}</td>
                            <td class="room-isActive d-none">{{ room.isActive ? 'Oui':'Non' }}</td>
                            <td class="room-id d-none">{{ room.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <table id="dtDynamicVerticalScrollLeague" class="table table-hover">
                    <caption>Liste des ligues <button class="btn btn-sm btn-dark float-right">Ajouter une ligue</button></caption>
                    <thead>
                    <tr>
                        <th scope="col">Ligue</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Couleur</th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="league_list">
                    {% for league in leagues %}
                        <tr id="league_{{ league.id }}" onclick="openModal($(this))">
                            <td class="league-name">{{ league.name }}</td>
                            <td class="league-sport">{{ league.sport }}</td>
                            <td class="league-phone">{{ league.phone }}</td>
                            <td class="league-color"><input class="league-color-input" type="color" value="{{ league.color }}" disabled></td>
                            <td class="league-id d-none">{{ league.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <table id="dtDynamicVerticalScrollUsers" class="table table-hover">
                    <caption>Liste des utilisateurs <button class="btn btn-sm btn-dark float-right">Ajouter un utilisateur</button></caption>
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ligue</th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="users_list">
                    {% for user in users %}
                        <tr id="user_{{ user.id }}">
                            <td class="user-name">{{ user.username }}</td>
                            <td class="user-email">{{ user.email }}</td>
                            <td class="user-league">{{ user.league.name }}</td>
                            <td class="user-id d-none">{{ user.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="roomModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="roomModalTitle">
                        <h4></h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="d-none" id="url_ajax_edit_room">{{ path('m2n_admin_room_edit') }}</div>
                        <div class="d-none" id="roomModalId"></div>
                        <div class="form-group">
                            <label for="roomModalName" class="col-form-label">Nom de la salle :</label>
                            <input type="text" class="form-control" id="roomModalName">
                        </div>
                        <div class="form-group">
                            <label for="roomModalSeat" class="col-form-label">Nombre de places :</label>
                            <input type="number" class="form-control" id="roomModalSeat">
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="roomModalIsComputerised">
                                <label for="roomModalIsComputerised" class="form-check-label">Informatisée</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="roomModalIsActive">
                                <label for="roomModalIsActive" class="form-check-label">Active</label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-left" onclick="saveRoomModal('DELETE')">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="saveRoomModal('PUT_POST')">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin/room.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
{% endblock %}