{% extends '@App/base.html.twig' %}

{% block title %}{{ app.user.username }} - Ligues {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/league.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css')}}"/>
{% endblock %}

{% block body %}
    {% include '@App/admin/nav.html.twig' %}
    <div class="container-fluid" style="margin: 0">
        <div class="row">
            <!-- TABLEAU LISTE LIGUES  -->
            <div class="col-md-6">
                <table id="dtDynamicVerticalScrollLeague" class="table table-hover">
                    <caption>Liste des ligues</caption>
                    <thead>
                    <tr>
                        <th scope="col">Ligue</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Couleur</th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="league_list">
                    {% for league in leagues %}
                        <tr id="league_{{ league.id }}" onclick="openModal($(this))">
                            <td class="league-name">{{ league.name }}</td>
                            <td class="league-sport">{{ league.sport }}</td>
                            <td class="league-phone">{{ league.phone }}</td>
                            <td class="league-color"><input class="league-color-input" type="color" value="{{ league.color }}" disabled></td>
                            <td class="league-id d-none">{{ league.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- FORMULAIRE CREATION LIGUE -->
            <div class="col-md-6">
                <div class="form-title text-center">Création de ligue</div>
                <div class="col-md-8 form-container">
                    <form id="form-new-league" name="league" method="post">
                        <div class="form_group form-league-item">
                            <label for="league_name" class="required">Nom :</label>
                            <input type="text" id="league_name" name="league[name]" required="required" class="form-control" />
                        </div>

                        <div class="form_group form-league-item">
                            <label for="league_sport" class="required">Sport :</label>
                            <input type="text" id="league_sport" name="league_sport" required="required" class="form-control" />
                        </div>

                        <div class="form-group form-league-item">
                            <label for="league_phone" class="form-label">Téléphone :</label>
                            <input type="text" id="league_phone" name="league[phone]" class="form-control" />
                        </div>

                        <div class="form-group form-league-item">
                            <label for="league_color" class="form-label">Couleur :</label>
                            <input type="color" id="league_color" name="league[color]" />
                        </div>

                        <div class="form-group form-league-item">
                            <div id="league_send_button" class="btn btn-primary ld-ext-right" onclick="sendNewLeague()">
                                Créer
                                <div class="ld ld-ring ld-spin"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#<!-- MODAL MODIFICATION LIGUE -->#}
    <div class="modal fade" id="editLeagueModal" tabindex="-1" role="dialog" aria-labelledby="editLeagueModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="editModalTitle">
                        <h4>Modification de la ligue</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="d-none" id="url_ajax_edit_league">{{ path('m2n_admin_league_edit') }}</div>
                        <div class="d-none" id="editLeagueModalId"></div>
                        <div class="form-group">
                            <label for="editLeagueModalName" class="col-form-label">Nom de la ligue :</label>
                            <input type="text" class="form-control" id="editLeagueModalName">
                        </div>
                        <div class="form-group">
                            <label for="editLeagueModalSport" class="col-form-label">Sport :</label>
                            <input type="text" class="form-control" id="editLeagueModalSport">
                        </div>
                        <div class="form-group">
                            <label for="editLeagueModalPhone" class="col-form-label">Téléphone :</label>
                            <input type="text" class="form-control" id="editLeagueModalPhone">
                        </div>
                        <div class="form-group">
                            <label for="editLeagueModalColor" class="col-form-label">Couleur :</label>
                            <input type="color" id="editLeagueModalColor">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-left" onclick="deleteLeague()">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="saveModal()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin/league.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
{% endblock %}
