<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('m2n_default') }}">M2N</a>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li id ="nav-link-home" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_admin_homepage') }}">Accueil</a>
            </li>
            <li id = "nav-link-calendar" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_admin_calendar') }}">Calendrier</a>
            </li>
            <li id ="nav-link-room" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_admin_room') }}">Salles</a>
            </li>
            <li id ="nav-link-league" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_admin_league') }}">Ligues</a>
            </li>
            <li id ="nav-link-users" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_admin_users') }}">Utilisateurs</a>
            </li>
        </ul>
        <div class="my-2 my-md-0">
            <div class="navbar-user-name">
                {{ app.user.username }}
            </div>
            <a class="text-dark" href="{{ path('m2n_logout') }}"><button type="button" class="btn">Déconnexion</button></a>
        </div>
    </div>
</nav>