{% extends '@App/base.html.twig' %}

{% block title %}{{ app.user.username }} - Salles {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/room.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css')}}" >
{% endblock %}
{% block body %}
    {% include '@App/admin/nav.html.twig' %}
    <div class="container-fluid" style="margin: 0">
        <div class="row">
            <!-- TABLEAU LISTE SALLES  -->
            <div class="col-md-4">
                <table id="dtDynamicVerticalScrollExample" class="table table-hover">
                    <caption>Liste des salles</caption>
                    <thead>
                    <tr>
                        <th scope="col">Salle</th>
                        <th scope="col">Nombre de places</th>
                        <th scope="col">Informatisée</th>
                        <th class="d-none"></th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="room_list">
                    {% for room in rooms %}
                        <tr id="room_{{ room.id }}" {% if not room.isActive %}class="deactivate-room"{% endif %}
                            onclick="openModal($(this))">
                            <td class="room-name">{{ room.name }}</td>
                            <td class="room-seat">{{ room.seat }}</td>
                            <td class="room-isComputerised">{{ room.isComputerised ? 'Oui':'Non' }}</td>
                            <td class="room-isActive d-none">{{ room.isActive ? 'Oui':'Non' }}</td>
                            <td class="room-id d-none">{{ room.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- FORMULAIRE CREATION SALLE -->
            <div class="col-md-4">
                <div class="form-title text-center">Création de salle</div>
                <div class="col-md-8 form-container">
                    <form id="form-new-room" name="room" method="post">
                        <div class="form_group form-item">
                                <label for="room_name" class="required">Nom :</label>
                                <input type="text" id="room_name" name="room[name]" required="required" class="form-control" />
                        </div>

                        <div class="form_group form-item">
                                <label for="room_seat" class="required">Nombre de place :</label>
                                <input type="number" id="room_seat" name="room[seat]" required="required" class="form-control" />
                        </div>

                        <div class="form-check form-item">
                            <input type="checkbox" id="room_isComputerised" name="room[isComputerised]" class="form-check-input" />
                            <label for="room_isComputerised" class="form-check-label">Informatisée</label>
                        </div>

                        <div class="form-group form-item">
                            <div id="room_send_button" class="btn btn-primary ld-ext-right" onclick="sendNewRoom()">
                                Créer
                                <div class="ld ld-ring ld-spin"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- STASTISTIQUES SALLES -->
            <div class="col-md-4">
                <div class="form-title text-center">Statistiques</div>
                <div class="row">
                    <div class="col-md-4 text-center stat-card">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="text-dark text-center mt-3"><h6>Salles</h6></div>
                            <div class="text-dark text-center mt-2"><h1>{{ rooms | length }}</h1></div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center stat-card">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="text-dark text-center mt-3"><h6>Active</h6></div>
                            {% set activeCount = 0 %}
                            {% for r in rooms if r.isActive %}
                                {% set activeCount = activeCount + 1 %}
                            {% endfor %}
                            <div class="text-dark text-center mt-2"><h1>{{ activeCount }}</h1></div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center stat-card">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="text-dark text-center mt-3"><h6>Informatisée</h6></div>
                            {% set computCount = 0 %}
                            {% for r in rooms if r.isComputerised %}
                                {% set computCount = computCount + 1 %}
                            {% endfor %}
                            <div class="text-dark text-center mt-2"><h1>{{ computCount }}</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL MODIFICATION SALLE -->
    <div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="editRoomModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="editModalTitle">
                        <h4>Modification de la salle</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="d-none" id="url_ajax_edit_room">{{ path('m2n_admin_room_edit') }}</div>
                        <div class="d-none" id="editRoomModalId"></div>
                        <div class="form-group">
                            <label for="editRoomModalName" class="col-form-label">Nom de la salle :</label>
                            <input type="text" class="form-control" id="editRoomModalName">
                        </div>
                        <div class="form-group">
                            <label for="editRoomModalSeat" class="col-form-label">Nombre de places :</label>
                            <input type="number" class="form-control" id="editRoomModalSeat">
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="editRoomModalIsComputerised">
                                <label for="editRoomModalIsComputerised" class="form-check-label">Informatisée</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="editRoomModalIsActive">
                                <label for="editRoomModalIsActive" class="form-check-label">Active</label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-left" onclick="deleteRoom()">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="saveModal()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin/room.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
{% endblock %}