{% extends '@App/base.html.twig' %}

{% block title %}{{ app.user.username }} - Utilisateurs {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/users.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css')}}" >
{% endblock %}

{% block body %}
    {% include '@App/admin/nav.html.twig' %}
    <div class="container-fluid" style="margin: 0">
        <div class="row">
            <!-- TABLEAU LISTE UTILISATEURS  -->
            <div class="col-md-4">
                <table id="dtDynamicVerticalScrollUsers" class="table table-hover">
                    <caption>Liste des utilisateurs</caption>
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ligue</th>
                        <th class="d-none"></th>
                    </tr>
                    </thead>
                    <tbody id="users_list">
                    {% for user in users %}
                        <tr id="user_{{ user.id }}">
                            <td class="user-name">{{ user.username }}</td>
                            <td class="user-email">{{ user.email }}</td>
                            <td class="user-league">{{ user.league.name }}</td>
                            <td class="user-id d-none">{{ user.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- FORMULAIRE CREATION UTILISATEUR -->
            <div class="col-md-4">
                <div class="form-title text-center">Création d'utilisateur</div>
                <div class="form-container">
                    {{ form_start(form, {'attr': {'id': 'form-new-user'}}) }}
                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-10 col-md-offset-2">
                            {{ form_row(form.league, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-4" style="margin-top:5px;">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-btn fa-user"></i>
                                Nouvel utilisateur
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin/users.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
{% endblock %}