a {
    text-decoration: none !important;
}

.table-hover tr td{
    cursor: pointer !important;
}

caption {
    text-align: center !important;
    caption-side: top !important;
    font-size: larger;
}

#editModalTitle {
    color: #343a40;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    height: auto;
    border-bottom: 1px solid;
    margin-bottom: 7px;
}

#editModalTitle h4 {
    color: #343a40;
}

.form-title {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    font-size: larger;
    border-bottom: solid 1px lightgrey;
}

.form-container {
    margin-left: 16%;
}

.form-item {
    margin-top: 15px;
}

.stat-card {
    margin-top: 10px;
}