{% extends '@App/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/user/user-calendar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}"/>
{% endblock %}
{% block title %}{{ app.user.username }} - Calendrier{% endblock %}

{% block body %}
    {% include '@App/user/nav.html.twig' %}
    <div class="col-md-10 calendar-container">
        <div id='calendar'></div>
    </div>

    <div class="booking_list d-none">
    {% for booking in bookings %}

        <div class="booking">
            <div class="booking-id">{{ booking.id }}</div>
            <div class="booking-begin">{{ booking.begin | date('Y-m-d H:i') }}</div>
            <div class="booking-end">{{ booking.end | date('Y-m-d H:i') }}</div>
            <div class="booking-color">{{ booking.color }}</div>
            <div class="booking-title">{{ booking.title }}</div>
        </div>
    {% endfor %}
    </div>








{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/user/calendar.js') }}"></script>
{% endblock %}