{% extends '@App/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}
{% block title %}{{ app.user.username }} - Tableau de  bord{% endblock %}

{% block body %}
    {% include '@App/user/nav.html.twig' %}
    <div class="container-fluid" style="margin: 0">

        <div class="row">
            <div class="col-md-3"> <!-- TABLEAU LISTE 10 PROCHAINES RESERVATIONS  -->
                <div class="form-title text-center">Prochaines réservations</div>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Salle</th>
                        <th scope="col">Début</th>
                        <th scope="col">Fin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for booking in bookings %}
                        <tr>
                            <td><a style="color: black" href="#">{{ booking.room.name }}</a></td>
                            <td>{{ booking.begin |date("d/m/Y H:i") }}</td>
                            <td>{{ booking.endb |date("d/m/Y H:i") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="form-title text-center">Réservation rapide</div>
                <div class="col-md-8 form-container">
                    <form method="post">
                        <div class="form-group form-item">
                            <label for="booking-start">Début :</label>
                            <div class="input-group date" id="datetimepicker_start" data-target-input="nearest">
                                <input id='booking-start' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_start"/>
                                <div class="input-group-append" data-target="#datetimepicker_start" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-item">
                            <label for="booking-end">Fin :</label>
                            <div class="input-group date" id="datetimepicker_end" data-target-input="nearest">
                                <input id='booking-end' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_end"/>
                                <div class="input-group-append" data-target="#datetimepicker_end" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-item">
                            <label for="booking-number">Nombre de place minimum :</label>
                            <input type="number" class="form-control" name="booking-number" id="booking-number">
                        </div>

                        <div class="form-check form-item">
                            <input type="checkbox" id="booking-isComputerised" name="booking-isComputerised" class="form-check-input" />
                            <label for="booking-isComputerised" class="form-check-label">Informatisée</label>
                        </div>

                        <div class="form-group form-item">
                            <div id="room_search_button" class="btn btn-primary ld-ext-right" onclick="sendBooking()">
                                Réserver
                                <div class="ld ld-ring ld-spin"></div>
                                <div id="fast_booking_url" class="d-none">{{ path('m2n_fast_booking') }}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/user/index.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/fr.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}