<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('m2n_homepage') }}">M2N</a>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li id ="nav-link-home" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_homepage') }}">Accueil</a>
            </li>
            <li id = "nav-link-calendar" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_calendar') }}">Calendrier</a>
            </li>
            <li id ="nav-link-booking" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_booking') }}">Réservation</a>
            </li>
            <li id ="nav-link-list" class="nav-item">
                <a class="nav-link" href="{{ path('m2n_list') }}">Listes</a>
            </li>
        </ul>
        <div class="my-2 my-md-0">
            <div class="navbar-user-name">
                {{ app.user.username }}
            </div>
            <a class="text-dark" href="{{ path('m2n_logout') }}"><button type="button" class="btn">Déconnexion</button></a>        </div>
    </div>
</nav>