{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
{% endblock %}



{% block body %}
        {% include 'default/nav.html.twig' %}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-10 col-md-offset-1">#}
                {#<div class="panel panel-success">#}
                    {#<div class="panel-heading">List of Users</div>#}

                    {#{% if app.user != null %}#}
                        {#<table class="table">#}
                            {#<tr>#}
                                {#<th>Username</th>#}
                                {#<th>Email</th>#}
                                {#<th>Password</th>#}
                                {#<th>Rôle</th>#}
                                {#<th>League</th>#}
                            {#</tr>#}

                            {#{% for user in users %}#}
                                {#<tr>#}
                                    {#<td>{{ user.username }}</td>#}
                                    {#<td>{{ user.email }}</td>#}
                                    {#<td>{{ user.password }}</td>#}
                                    {#<td>{{ user.role }}</td>#}
                                    {#<td>#}
                                        {#{% if user.league %}#}
                                            {#{{ user.league.name }}#}
                                        {#{% endif %}#}
                                    {#</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                        {#</table>#}
                    {#{% endif %}#}


                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}